
gfx/map/terrain/detail_index.tga
gfx/map/terrain/detail_intensity.tga
gfx/map/textures/flatmap_overlay_wow.dds
gfx/map/water/watercolor_rgb_waterspec_a.dds

gfx/map/water/watercolor_rgb_waterspec_a.dds
